#!/usr/bin/make -f

export DEB_BUILD_MAINT_OPTIONS = hardening=+all,-relro
export CC=gcc
export KRELEASE=4.19.0-13-amd64

#
# Call debhelper for clean, build, binary
#
%:
	dh $@

override_dh_auto_build:
	$(MAKE) BASEDIR=/lib/modules/$(KRELEASE)

override_dh_auto_install:
	$(info Skip dh_auto_install)

override_dh_auto_clean:
	$(MAKE) BASEDIR=/lib/modules/$(KRELEASE) clean
